a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: inherit;
}
.head_cert_type_table {
  display:flex;
  -webkit-text-size-adjust: none
}
.border_green_left_type_table, .border_gray_left_type_table {
  position: relative;
  font-family: 'Calibri Light';
  display: flex;
}
.border_green_left_type_table {
  border-top: 1px solid #9c9c9c;
  border-left: 1px solid #9c9c9c;
  color: white;
  align-items: center;
}
.green_color_type_table {
  background-color: rgba(83, 196, 153, 1);
}
.sea_color_type_table {
  background-color: #4184C5;
}
.green_color_scroll_type_table::-webkit-scrollbar-thumb {
  background-color: rgba(83, 196, 153, 1);
}
.sea_color_scroll_type_table::-webkit-scrollbar-thumb {
  background-color: #4184C5;
}
.pointer_type_table {
  cursor: pointer;
}
.border_green_right_type_table {
  border-right: 1px solid #9c9c9c;
}
.border_gray_left_type_table {
  border-left: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  color: #4D4D4D;
}
.border_gray_right_type_table {
  border-right: 1px solid #9c9c9c;
}
.sort_img_type_table {
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width:1200px) {
  .sort_img_type_table {
    width: 10px;
    right: 5px;
  }
  .head_cert_type_table {
    font-size: 18px;
  }
  .border_green_left_type_table, .border_gray_left_type_table{
    padding: 5px;
  }
  .main_type_table {
      -webkit-overflow-scrolling: touch;
  }
  .main_type_table::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	  background-color: #F5F5F5;
	  border-radius: 10px;
  }
  .main_type_table::-webkit-scrollbar {
	   width: 10px;
     height: 7px;
	   background-color: #F5F5F5;
  }
  .main_type_table::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  }
}

@media (min-width:768px) and (max-width:1199px) {
  .sort_img_type_table {
    width: 9px;
    right: 5px;
  }
  .head_cert_type_table {
    font-size: 16px;
  }
  .border_green_left_type_table, .border_gray_left_type_table{
    padding: 4px;
  }
  .main_type_table {
      -webkit-overflow-scrolling: touch;
  }
  .main_type_table::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	  background-color: #F5F5F5;
	  border-radius: 10px;
  }
  .main_type_table::-webkit-scrollbar {
	   width: 10px;
     height: 7px;
	   background-color: #F5F5F5;
  }
  .main_type_table::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .sort_img_type_table {
    width: 8px;
    right: 5px;
  }
  .head_cert_type_table {
    font-size: 14px;
  }
  .main_type_table {
    -webkit-overflow-scrolling: touch;
  }
  .border_green_left_type_table, .border_gray_left_type_table{
    padding: 4px;
  }
  .main_type_table {
      -webkit-overflow-scrolling: touch;
  }
  .main_type_table::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	  background-color: #F5F5F5;
	  border-radius: 10px;
  }
  .main_type_table::-webkit-scrollbar {
	   width: 10px;
     height: 7px;
	   background-color: #F5F5F5;
  }
  .main_type_table::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  }
}

@media (max-width:479px) {
  .sort_img_type_table {
    width: 8px;
    right: 5px;
  }
  .head_cert_type_table {
    font-size: 12px;
  }
  .border_green_left_type_table, .border_gray_left_type_table{
    padding: 4px;
  }
  .main_type_table {
    -webkit-overflow-scrolling: touch;
  }
  .main_type_table::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	  background-color: #F5F5F5;
	  border-radius: 10px;
  }
  .main_type_table::-webkit-scrollbar {
	   width: 10px;
     height: 7px;
	   background-color: #F5F5F5;
  }
  .main_type_table::-webkit-scrollbar-thumb {
  	border-radius: 10px;
  }
}
